
<div class="container-fluid" style="position: relative;">
    <img src="assets/images/slider-2.jpg" class="img-responsive">
      <div class="container banner_text">
          <h5 class="banner_h5">WELCOME TO OUR</h5>
          <h3 class="banner_h3">CLEAN ,MODERN, MULTIPURPOSE THEME</h3>
          <p class="banner_p">Our team of professionals will help you turn your dream home or flat into a reality fast. The Love <br>Boat promises something for everyone. Now the world don't move to the beat of just one</p>
      </div>
</div>

<!-- Professional Builde -->
<section class="professional_builder row">
  <div class="container">
     <div class="row builder_all">
          <div class="col-md-3 col-sm-6 builder">
              <i class="fa fa-home" aria-hidden="true"></i>
              <h4>Professional Builde</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
          </div>
          <div class="col-md-3 col-sm-6 builder">
              <i class="fa fa-building" aria-hidden="true"></i>
              <h4>We Deliver Quality</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
          </div>
          <div class="col-md-3 col-sm-6 builder">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h4>Always On Time</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
          </div>
          <div class="col-md-3 col-sm-6 builder">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              <h4>We Are Pasionate</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
          </div>
     </div>
  </div>
</section>
<!-- End Professional Builde -->

 <!-- About Us Area -->
 <section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>ABOUT US</h2>
            <h4>It takes technical expertise to meet stringent specifications. It takes Organisation to deliver commitment. It takes the best of man, materials and Organisation to work together.</h4>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-7 col-sm-6">
                <div class="subtittle">
                    <h2>WHO WE ARE</h2>
                </div>
                <p><i class="fa fa-paper-plane-o" style="color: #F6B60B;font-size:20px; " aria-hidden="true"></i>&nbsp;&nbsp;B9 Engineers is  India's Leasindg Safety Products,Wall Cracks &nbsp; Joint  Solutions,Welding Equipment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and Paints Mobility Distribution Company Offering Global Products and Services to Its Clients  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Through Strong Distribution Network Across India.<br><br>
               <i class="fa fa-paper-plane-o" style="color:#F6B60B;font-size:20px;  " aria-hidden="true"></i>&nbsp;&nbsp; B9 Engineers Caters to Dynamic Requirments Of All Consumers,SMB,Mid-Size,Large Enterprise and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Government Organizations Across Various Industrial Verticals.b9 Engineers products and solutions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complement All It's Clients Needs.<br><br>
                <i class="fa fa-paper-plane-o" style="color:#F6B60B;font-size:20px;  " aria-hidden="true"></i>&nbsp;&nbsp; B9 Engineers Engages in Aggressive Market Development Through Robust Network,Experience &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vision and Always Maintains the Heghest Level of Sales, Marketing, Operational control and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;technical Support For the Benefit of It's Clients.</p>
                <a href="#" class="button_all">Contact Now</a>
            </div>
            <div class="col-md-5 col-sm-6 about_client">
                <img src="assets/images/about_client.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End About Us Area -->

 <!-- What ew offer Area -->
 <section class="what_we_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>AUTHORISED DEALERS</h2>
            <!--<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>-->
        </div>
        <div class="row construction_iner">
            <div class="col-md-4 col-sm-6 construction" >
               <div class="cns-img">
                    <img src="assets/images/team/karam.gif" alt="">
               </div>
               <div class="cns-content">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a href="#">KARAM</a>
                    <p>KARAM is a No.1 manufacturer of Personal Protective equipment in India. The vast range of PPE from KARAM is known for its finest quality and performance, besides providing the best & exclusively customized Industry specific fall protection safety solutions. </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 construction">
               <div class="cns-img">
                    <img src="assets/images/team/beamteam.gif" alt="">
               </div>
               <div class="cns-content">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <a href="#">BEAMTEAM</a>
                    <p>BeamTeam Safety Products Pvdt. Lt is a Manufacturer of complete range of safety products and is marketted under the brand name of    BeamTeam. It provides the Best Personal Protective Equipment across india.<br><br> </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 construction">
               <div class="cns-img">
                    <img src="assets/images/team/esab.gif" alt="">
               </div>
               <div class="cns-content">
                    <i class="fa fa-gavel" aria-hidden="true"></i>
                    <a href="#">ESAB India Limited</a>
                    <p>ESAB India Limited started its operations in 1987 by acquiring the welding business of Peico Electronics &   Electricals Limited (now Philips India Limited). ESAB India has established itself as one of the leading suppliers of welding and cutting products in   the country.   </p>
               </div>
            </div>
        </div>
        <div class="row construction_iner">
            <div class="col-md-4 col-sm-6 construction">
               <div class="cns-img">
                    <img src="assets/images/team/bostik.gif" alt="">
               </div>
               <div class="cns-content">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a href="#">Bostik</a>
                    <p>Bostik is a leading global adhesive specialist in construction, consumer and industrial markets. For more than a century, it has been developing innovative adhesive solutions that are smarter and more adaptive to the forces that shape daily lives.<br><br> </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 construction">
               <div class="cns-img">
                    <img src="assets/images/team/cleancoat.gif" alt="">
               </div>
               <div class="cns-content">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <a href="#">CLEAN COATS</a>
                    <p>Clean coats are a leading India manufacturer of high performance speciality coating materials with a well established presence in the Pharmaceutical, Hospital, Manufacturing and Infrastructure industries amongst others.</p>
                    <br><br>
               </div>
            </div>
            <div class="col-md-4 col-sm-6 construction">
               <div class="cns-img">
                    <img src="assets/images/team/gunjan.gif" alt="">
               </div>
               <div class="cns-content">
                    <i class="fa fa-gavel" aria-hidden="true"></i>
                    <a href="#">Gunjan Paints Ltd</a>
                    <p>Gunjan Paints Ltd. is the brainchild of Shri G.D.Barot , an entrepreneur with extraordinary vision and foresight. Equipped with a background in textiles and his enthusiam, he started this company in 1992 and has gone a long way since.<br><br> </p>
                    <br>
               </div>
            </div>
        </div>
        <div class="row construction_iner">
           <div class="col-md-4 col-sm-6 construction">
               <div class="cns-img">
                    <img src="assets/images/team/panasonic.gif" alt="">
               </div>
               <div class="cns-content">
                   <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <a href="#">Panasonic</a>
                    <p>Panasonic Corporation is a worldwide leader in the development and manufacture of electronic products for a wide range of consumer, business, and industrial needs which is based out in Osaka, Japan. </p>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- End What ew offer Area -->

<!-- Our Features Area -->
<section class="our_feature_area">
  <div class="container">
      <div class="tittle wow fadeInUp">
          <h2>Our Features</h2>
          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
      </div>
      <div class="feature_row row">
          <div class="col-md-6 feature_img">
              <img src="assets/images/about.jpg" alt="">
          </div>
          <div class="col-md-6 feature_content">
              <div class="subtittle">
                  <h2>WHY CHOOSE US</h2>
                  <h5>There are many variations of passages of Lorem Ipsum available.</h5>
              </div>
              <div class="media">
                  <div class="media-left">
                      <a href="#">
                          <i class="fa fa-wrench" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="media-body">
                      <a href="#">30+ YEARS OF EXPERIENCE</a>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus-try. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  </div>
              </div>
              <div class="media">
                  <div class="media-left">
                      <a href="#">
                          <i class="fa fa-rocket" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="media-body">
                      <a href="#">QUALIFIED EXPERTS</a>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus-try. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  </div>
              </div>
              <div class="media">
                  <div class="media-left">
                      <a href="#">
                          <i class="fa fa-users" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="media-body">
                      <a href="#">Best Customer Services</a>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus-try. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Our Features Area -->



<!-- Our Team Area -->
<section class="our_team_area">
  <div class="container">
      <div class="tittle wow fadeInUp">
          <h2>Our Team</h2>
          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
      </div>
      <div class="row team_row">
          <div class="col-md-3 col-sm-6 wow fadeInUp">
             <div class="team_membar">
                  <img src="assets/images/team/tm-1.jpg" alt="">
                  <div class="team_content">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul>
                      <a href="#" class="name">Prodip Ghosh</a>
                      <h6>Founder &amp; CEO</h6>
                  </div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
             <div class="team_membar">
                  <img src="assets/images/team/tm-2.jpg" alt="">
                  <div class="team_content">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul>
                      <a href="#" class="name">Emran Khan</a>
                      <h6>Web-Developer</h6>
                  </div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
             <div class="team_membar">
                  <img src="assets/images/team/tm-3.jpg" alt="">
                  <div class="team_content">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul>
                      <a href="#" class="name">Prodip Ghosh</a>
                      <h6>Founder &amp; CEO</h6>
                  </div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
             <div class="team_membar">
                  <img src="assets/images/team/tm-4.jpg" alt="">
                  <div class="team_content">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul>
                      <a href="#" class="name">Jakaria Khan</a>
                      <h6>Founder &amp; CEO</h6>
                  </div>
             </div>
          </div>
      </div>
  </div>
</section>
<!-- End Our Team Area -->

<!-- Our Achievments Area -->
<section class="our_achievments_area" data-stellar-background-ratio="0.3">
  <div class="container">
      <div class="tittle wow fadeInUp">
          <h2>Our Achievments</h2>
          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
      </div>
      <div class="achievments_row row">
          <div class="col-md-3 col-sm-6 p0 completed">
              <i class="fa fa-connectdevelop" aria-hidden="true"></i>
              <span class="counter">800</span>
              <h6>PROJECT COMPLETED</h6>
          </div>
          <div class="col-md-3 col-sm-6 p0 completed">
              <i class="fa fa-home" aria-hidden="true"></i>
              <span class="counter">230</span>
              <h6>HOUSE RENOVATIONS</h6>
          </div>
          <div class="col-md-3 col-sm-6 p0 completed">
              <i class="fa fa-child" aria-hidden="true"></i>
              <span class="counter">1390</span>
              <h6>WORKERS EMPLOYED</h6>
          </div>
          <div class="col-md-3 col-sm-6 p0 completed">
              <i class="fa fa-trophy" aria-hidden="true"></i>
              <span class="counter">125</span>
              <h6>AWARDS WON</h6>
          </div>
      </div>
  </div>
</section>
<!-- End Our Achievments Area -->






<section>
    <div class="container-fluid">
        <div class="tittle wow fadeInUp">
            <h2>Our Brands</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <angular-image-slider [images]="imagesUrl"></angular-image-slider>
    </div>
</section>

