
<angular-image-slider [images]="imagesUrl"></angular-image-slider>

<div class="container-fluid nav-bar_2">
  <div class="panel panel-default">
   <div class="panel-heading" style="align:center" >Safety</div>
   <div class="panel-body">
       <div class="container">
               
               <div class="row">
                   <div id="carousel-example" class="carousel slide team team-web-view" data-ride="carousel">
                       <div class="carousel-line">
                           <div class="controls pull-right">
                               <a class="left fa fa-angle-left btn" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#carousel-example" data-slide="next"></a>
                           </div>
                       </div>
                       <!-- Wrapper for slides -->
                       <div class="carousel-inner">
                           <div class="item active">
                               <div class="row">
                                   <div class="col-sm-3">
                                       <div class="col-item">
                                           <div class="photo-shadow"></div>
                                           <div class="photo">
                                               <img src="assets/images/slides/coverall.jpg" alt="User one">
                                           </div>
                                           <div class="info">
                                               <div class="name">coveralls</div>
                                               <!--<div class="degination">Director</div>-->
                                               <br>
                                               <button class="btn btn-primary" style="" >Enquary</button>
                                               <button class="btn btn-primary" style="margin-right:40px " >Read More..</button>
                                               <div class="clearfix">
                                               </div>
                                              
                                           </div>
                                       </div>
                                        </div>
                                   <div class="col-sm-3">
                                       <div class="col-item">
                                           <div class="photo-shadow"></div>
                                           <div class="photo">
                                               <img src="assets/images/slides/toolbag.jpg" class="img-responsive" alt="Charles John">
                                           </div>
                                           <div class="info">
                                               <div class="name">Tool bags</div>
                                               <!--<div class="degination">Expert Agent</div>-->
                                               <br>
                                               <button class="btn btn-primary">Enquary</button>
                                               <button class="btn btn-primary">Read More..</button>
                                               <div class="clearfix"></div>
                                           
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-3">
                                       <div class="col-item">
                                           <div class="photo-shadow"></div>
                                           <div class="photo">
                                               <img src="assets/images/slides/lanyards.jpg" class="img-responsive" alt="Charlotte Law">
                                           </div>
                                           <div class="info">
                                               <div class="name">lanyards</div>
                                               <!--<div class="degination">Expert Agent</div>-->
                                               <br>
                                               <button class="btn btn-primary">Enquary</button>
                                               <button class="btn btn-primary">Read More..</button>
                                               <div class="clearfix"></div>
                                             
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-3">
                                       <div class="col-item">
                                           <div class="photo-shadow"></div>
                                           <div class="photo">
                                               <img src="assets/images/slides/rope.png" alt="Coleman Harmon">
                                           </div>
                                           <div class="info">
                                               <div class="name">life line ropes</div>
                                               <!--<div class="degination">Expert Agent</div>-->
                                               <br>
                                               <button class="btn btn-primary">Enquary</button>
                                               <button class="btn btn-primary">Read More..</button>
                                               <div class="clearfix"></div>
                                               
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                          <div class="item">
                               <div class="row">
                                   <div class="col-sm-3">
                                       <div class="col-item">
                                           <div class="photo-shadow"></div>
                                           <div class="photo">
                                               <img src="assets/images/slides/shoes.gif" class="img-responsive" alt="Charles John">
                                           </div>
                                           <div class="info">
                                               <div class="name">shoes</div>
                                               <!--<div class="degination">Expert Agent</div>-->
                                               <br>
                                               <button class="btn btn-primary">Enquary</button>
                                               <button class="btn btn-primary">Read More..</button>
                                               <div class="clearfix"></div>
                                              
                                           </div>
                                       </div>
                                   </div>
                                    <div class="col-sm-3">
                                       <div class="col-item">
                                           <div class="photo-shadow"></div>
                                           <div class="photo">
                                               <img src="assets/images/slides/jacket.gif" alt="Coleman Harmon">
                                           </div>
                                           <div class="info">
                                               <div class="name">jackets</div>
                                               <!--<div class="degination">Expert Agent</div>-->
                                              <br>
                                               <button class="btn btn-primary">Enquary</button>
                                               <button class="btn btn-primary">Read More..</button>
                                             
                                               <div class="clearfix"></div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-3">
                                       <div class="col-item">
                                           <div class="photo-shadow"></div>
                                           <div class="photo">
                                               <img src="assets/images/slides/fls.png" class="img-responsive" alt="Charlotte Law">
                                           </div>
                                           <div class="info">
                                               <div class="name">Fixed Line System(FLS)</div>
                                               <!--<div class="degination">Expert Agent</div>-->
                                               <br>
                                               <button class="btn btn-primary">Enquary</button>
                                               <button class="btn btn-primary">Read More..</button>
                                               <div class="clearfix"></div>
                                             
                                           </div>
                                       </div>
                                   </div>
                                    <div class="col-sm-3">
                                       <div class="col-item">
                                           <div class="photo-shadow"></div>
                                           <div class="photo">
                                               <img src="assets/images/slides/coverall1.jpg" alt="User one">
                                           </div>
                                           <div class="info">
                                               <div class="name">coverall</div>
                                               <!--<div class="degination">Director</div>-->
                                               <br>
                                               <button class="btn btn-primary">Enquary</button>
                                               <button class="btn btn-primary">Read More..</button>
                                               <div class="clearfix"></div>
                                               
                                           </div>
                                       </div>
                                   </div>

                               </div>
                           </div>
                    
                       </div>
                   </div>
               </div>
           </div>
       </div>
      <br>
      <br>
      </div>
</div>
<br>
<br>
<div class="container-fluid nav-bar_2">
<div class="panel panel-default">
<div class="panel-heading" style="align:center" >Welding</div>
<div class="panel-body">        <div class="container">
            
            <div class="row">
                <div id="slider" class="carousel slide team team-web-view" data-ride="carousel">
                    <div class="carousel-line">
                        <div class="controls pull-right">
                            <a class="left fa fa-angle-left btn" href="#slider" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#slider" data-slide="next"></a>
                        </div>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/gas.jpg" alt="User one">
                                        </div>
                                        <div class="info">
                                            <div class="name">Industrial gas equipment</div>
                                            <!--<div class="degination">Double stage regulators (Dura series)</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/arc.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">Arc Equipments</div>
                                            <!--<div class="degination">RS 400</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/tig.jpg" class="img-responsive" alt="Charlotte Law">
                                        </div>
                                        <div class="info">
                                            <div class="name">Tig Welding </div>
                                            <!--<div class="degination">Origo TIG 4300iw AC/DC</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/mig.jpg" alt="Coleman Harmon">
                                        </div>
                                        <div class="info">
                                            <div class="name">Mig Welding</div>
                                            <!--<div class="degination">Auto K400/600</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/gas1.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">Industrial gas equipment</div>
                                            <!--<div class="degination">Double stage regulators (Dura series)</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/tig1.jpg" alt="Coleman Harmon">
                                        </div>
                                        <div class="info">
                                            <div class="name">Tig Welding</div>
                                            <!--<div class="degination">Origo TIG 4300iw AC/DC</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/arc1.jpg" class="img-responsive" alt="Charlotte Law">
                                        </div>
                                        <div class="info">
                                            <div class="name">Arc Equipments</div>
                                            <!--<div class="degination">Origo TIG 4300iw AC/DC</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/mig1.jpg" alt="User one">
                                        </div>
                                        <div class="info">
                                            <div class="name">Mig Welding</div>
                                            <!--<div class="degination">Auto K400/600</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                 </div>
                        </div>
                 
                    </div>
                </div>
            </div>
        </div></div>
</div>
</div>
<div class="container-fluid nav-bar_2">
<div class="panel panel-default">
<div class="panel-heading" style="align:center" >Adhesives/coatings</div>
<div class="panel-body">  <div class="container">
            
            <div class="row">
                <div id="slider2" class="carousel slide team team-web-view" data-ride="carousel">
                    <div class="carousel-line">
                        <div class="controls pull-right">
                            <a class="left fa fa-angle-left btn" href="#slider2" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#slider2" data-slide="next"></a>
                        </div>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/superfixall.jpg" alt="User one">
                                        </div>
                                        <div class="info">
                                            <div class="name">superfixall</div>
                                            <!--<div class="degination">High Strength, Flexible Cementitious Tile Adhesive</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/fixal.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">fixall</div>
                                            <!--<div class="degination">Cementitious General Purpose Tile Adhesive</div>-->
                                           <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/tig.jpg" class="img-responsive" alt="Charlotte Law">
                                        </div>
                                        <div class="info">
                                            <div class="name">bostomastik </div>
                                            <!--<div class="degination">Origo TIG 4300iw AC/DC</div>-->
                                             <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>                                                <div class="clearfix"></div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/mig.jpg" alt="Coleman Harmon">
                                        </div>
                                        <div class="info">
                                            <div class="name">blokstik</div>
                                            <!--<div class="degination">Auto K400/600</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/gas1.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">ecofix</div>
                                            <!--<div class="degination">Double stage regulators (Dura series)</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                         
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/ultralevel.jpg" alt="Coleman Harmon">
                                        </div>
                                        <div class="info">
                                            <div class="name">ultralevel SL</div>
                                            <!--<div class="degination">Self Levelling Cementitious Underlay </div>-->
                                           <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/Exploy.jpg" class="img-responsive" alt="Charlotte Law">
                                        </div>
                                        <div class="info">
                                            <div class="name">Epoxy tile grout</div>
                                            <!--<div class="degination">Epoxy Tile Grout</div>-->
                                           <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/concrete.jpg" alt="User one">
                                        </div>
                                        <div class="info">
                                            <div class="name">concrete tile grout</div>
                                            <!--<div class="degination">Cementitious Micro Concrete</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                 </div>
                        </div>
                 
                    </div>
                </div>
            </div><br><br><br>
      <div class="container">
            
            <div class="row">
                <div id="slider3" class="carousel slide team team-web-view" data-ride="carousel">
                    <div class="carousel-line">
                        <div class="controls pull-right">
                            <a class="left fa fa-angle-left btn" href="#slider3" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#slider3" data-slide="next"></a>
                        </div>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/gas.jpg" alt="User one">
                                        </div>
                                        <div class="info">
                                            <div class="name">Ultrastik</div>
                                            <!--<div class="degination">Double stage regulators </div>-->
                                           <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/arc.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">Aquastik</div>
                                            <!--<div class="degination">RS 400</div>-->
                                           <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/pu.jpg" class="img-responsive" alt="Charlotte Law">
                                        </div>
                                        <div class="info">
                                            <div class="name">Epoxy/ PU Flooring </div>
                                            <!--<div class="degination">Medium duty polyurethane flooring </div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/corrosion.jpg" alt="Coleman Harmon">
                                        </div>
                                        <div class="info">
                                            <div class="name"> corrosion protection coating</div>
                                            <!--<div class="degination">Medium duty polyurethane</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/water.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">Waterproofing systems</div>
                                            <!--<div class="degination"> water repellant WATER GARD</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/Construction.jpg" alt="Coleman Harmon">
                                        </div>
                                        <div class="info">
                                            <div class="name">Construction chemicals</div>
                                            <!--<div class="degination">Integral waterproofing admixture </div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/chemical.jpg" class="img-responsive" alt="Charlotte Law">
                                        </div>
                                        <div class="info">
                                            <div class="name">Chemical resistant coating</div>
                                            <!--<div class="degination">Anti Carbonation Paint  </div>-->
                                             <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                         
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/concrete1.jpg" alt="User one">
                                        </div>
                                        <div class="info">
                                            <div class="name">concrete tile groutss</div>
                                            <!--<div class="degination">Cementitious Micro Concrete</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                           
                                        </div>
                                    </div>
                                </div>
                                 </div>
                        </div>
                 
                    </div>
                </div>
            </div></div>
</div>
   </div>
</div>
<div class="container-fluid nav-bar_2">
<div class="panel panel-default">
<div class="panel-heading" style="align:center" >Hand tools/Technical chemicals</div>
<div class="panel-body">
             <div class="container">
            
            <div class="row">
                <div id="slider4" class="carousel slide team team-web-view" data-ride="carousel">
                    <div class="carousel-line">
                        <div class="controls pull-right">
                            <a class="left fa fa-angle-left btn" href="#slider4" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#slider4" data-slide="next"></a>
                        </div>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/gas.jpg" alt="User one">
                                        </div>
                                        <div class="info">
                                            <div class="name">Rustoff</div>
                                            <!--<div class="degination">Double stage regulators (Dura series)</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/vaccum.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">vaccum cleaner</div>
                                            <!--<div class="degination">STAINLESS STEEL TANK INDUSTRIAL VACUUM CLEANER </div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/cabinet.jpg" class="img-responsive" alt="Charlotte Law">
                                        </div>
                                        <div class="info">
                                            <div class="name">Professional 3 in 1 tool cabinet </div>
                                            <!--<div class="degination">Generous 3-in-1 storage capacity</div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       </div></div></div>
</div>
</div>
    </div>
    </div>
</div>
<div class="container-fluid nav-bar_2">
<div class="panel panel-default">
<div class="panel-heading" style="align:center" >Spraying and dispensing systems</div>
<div class="panel-body">
           <div class="container">
            
            <div class="row">
                <div id="carousel" class="carousel slide team team-web-view" data-ride="carousel">
                    <div class="carousel-line">
                        <div class="controls pull-right">
                            <a class="left fa fa-angle-left btn" href="#carousel" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#carousel" data-slide="next"></a>
                        </div>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/airspray.jpg" alt="User one">
                                        </div>
                                        <div class="info">
                                            <div class="name">Airspray</div>
                                            <!--<div class="degination"></div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/airmix.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">Airmix</div>
                                            <!--<div class="degination"></div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/airless.jpg" class="img-responsive" alt="Charlotte Law">
                                        </div>
                                        <div class="info">
                                            <div class="name">Airless</div>
                                            <!--<div class="degination"></div>-->
                                           <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/electronic.jpg" alt="Coleman Harmon">
                                        </div>
                                        <div class="info">
                                            <div class="name">Electrostatic</div>
                                            <!--<div class="degination"></div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/Dispense.jpg" class="img-responsive" alt="Charles John">
                                        </div>
                                        <div class="info">
                                            <div class="name">Rexon Dispense</div>
                                            <!--<div class="degination"></div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="col-item">
                                        <div class="photo-shadow"></div>
                                        <div class="photo">
                                            <img src="assets/images/slides/power.jpg" alt="Coleman Harmon">
                                        </div>
                                        <div class="info">
                                            <div class="name">Powder</div>
                                            <!--<div class="degination"></div>-->
                                            <br>
                                            <button class="btn btn-primary">Enquary</button>
                                            <button class="btn btn-primary">Read More..</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 
                    </div>
                </div>
            </div>
        </div></div>
</div>
</div>


<style>
   
  .panel-default > .panel-heading {
  
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  font-size: 30px;
  
  }
  .team-sec{float: left;width: 100%;}
  .team .photo {width: none; height: none; display: inline-block; overflow: hidden; position: relative; }
  .photo-shadow {position: absolute; z-index: -1; top: 12px; left: 16px; bottom: -10px; border:none; height: 250px; width: 246px; background: #fff; }
  .col-item{position: relative;}
  .team{margin-top: 60px;}
  .team .photo img{width: 100%;    vertical-align: middle;position: relative; border-radius:50px; }
  .social-connect{margin-top: 13px;}
  .info{margin-top: 22px;}
  .info .name{font-size: 18px;font-weight: 600;margin-bottom: 2px; text-align:center; }
  .info .degination{font-size: 16px;font-weight: 300;font-style: italic;color: #8B8B8B;}
  .social-connect a{ display: inline-block; border: 1px solid #E3E3E3; font-size: 14px; color: #919191; width: 24px; height: 24px; text-align: center; line-height: 24px;margin-right: 4px;}
  .social-connect a .fa{margin: 0;}
  .social-connect a:hover{background-color: #4EBEE9;color: #fff;} .carousel-line{    border:none; height: 320px; position: absolute; bottom: -90px; width: 110%; left: -5.5%;}
  .carousel-line > .controls{position: absolute; bottom: -16px; left: 95%; margin-left: -50px; background: #fff; padding: 0px 20px; color: #000;margin-bottom:500px; }
  .carousel-line > .controls > a{    color: #868686; font-size: 24px; font-weight: 300;}
  </style>