
<div class="container">
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
          <li>
              <a routerLink="home">home</a>
          </li>
          <li>
              <a routerLink="about-us">about-us</a>
          </li>
          <li>
            <a routerLink="services">services</a>
        </li>
        <li>
          <a routerLink="product">product</a>
      </li>
      <li>
        <a routerLink="contact">contact</a>
    </li>
      </ul>
  </nav>

  hello router is here
  <router-outlet></router-outlet>
</div>