 
  <div class="side_button">
    <a routerLink="contact" class="btn btn-default Enquiry"><img src="assets/images/btn.png" class="img-responsive"></a>
</div>
 
 <!-- Banner area -->
  <section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Our Services</h2>
    <ol class="breadcrumb">
        <li><a>Services</a></li>
        <li><a routerLink="floorcoating" class="active">Floor Coating</a></li>
    </ol>
</section>
<!-- End Banner area -->
<br><br>

<!-- Our Services Area -->
<section class="our_services">
    <div class="container">
        <h2 class="floor_h2"><i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;Pipeline Coating</h2>
        <br>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <p class="floor_p">CORRO TECH range of Anti Corrosion coatings are 100% Volume Solid,  High Build Epoxies, food grade Epoxy, Polyurethane (PU), etc. for internal lining coating of pipes.  We also offer Coal Tar Epoxy, surface tolerant Epoxy, Zinc rich Primers, PU & Epoxy finish for the external coating of pipelines.</p>
                <br>
                <p class="floor_p">Our High end surface tolerant Pipeline Coating is designed for salt fog resistant coating as per ASTM B 117 is 10000 hours No failure.</p>
                <br>
                <h5>Areas of Application</h5>
                <br>
                <li class="floor_p">Tank & steel structures in Marine & offshore environments, ETP tanks & sewage Pipes, Chimneys, etc.</li>
                <br>
                <a href="#" class="btn btn-default">Enquiry Now</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img src="assets/images/pipeline.jpg" class="img-responsive">
            </div>
        </div>
        
    </div>
</section>

<br><br><br>

<section class="our_services">
    <div class="container">
        <h2 class="floor_h2"><i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;Chemical Resistant Epoxy</h2>
        <br>
        <h3 align="center">Painting Solutions</h3>
        <br>
        <h4 class="floor_h4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;FLEX KOTE AC</h4>
        <br>
        <p class="floor_p">Anti Carbonation Paint <b>FLEX KOTE AC</b> </p>
        <p class="floor_p">FLEX KOTE AC is a high performance acrylic co –polymer flexible water coating with ultimate protection of external walls from heavy rain falls along with superior anti – fungal and elasticity properties. </p>
        <div class="floor_div"></div>
         <br>
        <h4 class="floor_h4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;CLEAN TECH WPUC</h4>
        
        <p class="floor_p">Hygienic water based polyurethane paint <b>CLEAN TECH WPUC</b> </p>
        <p class="floor_p">CLEANTECH WPUC is single component water based hygienic polyurethane wall coating. It can be used as an excellent cost effective and water washable semi gloss wall finish.  </p>
        <div class="floor_div"></div>
         <br>
        <h4 class="floor_h4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;WALL TECH 2kWPU</h4>
        <br>
        <p class="floor_p">Polyurethane water based two component coating <b>WALL TECH 2kWPU </b> </p>
        <p class="floor_p">WALLTECH 2KWPU is two component water based polyurethane coating for sterile environments. It has excellent bacteria and microbial resistance, making it ideal for hospitals, pharma and food industries. </p>
    </div>
</section>

<br><br><br>

 <section class="our_services">
    <div class="container">
        <h2 class="floor_h2"><i class="fa fa-th-large" aria-hidden="true"></i>&nbsp;Decorative Epoxy Flooring</h2>       
        <br>
        <h4 class="floor_h4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;DECO CRETE</h4>
        <br>
        <p class="floor_p">Polyurethane based <b>DECO CRETE</b> </p>
        <p class="floor_p">A unique Decorative Polyurethane Floor which can be made available in a multicolour designer finish, with the colours seamlessly integrated to give unique patterns with jointless finish. </p>
    </div>
</section>

<br><br><br>

  <section class="our_services">
    <div class="container">
        <h2 class="floor_h2"><i class="fa fa-th-large" aria-hidden="true"></i>&nbsp; Polyurethane (PU) Flooring</h2>       
        <br>
         <h4 class="floor_h4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;C Crete MD</h4>
        <br>
        <p class="floor_p">Medium duty polyurethane flooring <b>C Crete MD</b> </p>
        <p class="floor_p">C Crete MD is hygienic, seamless, self levelling polyurethane flooring applied in thickness of 3-5 mm. It possess exceptional flexural strength and impact resistance properties.</p>
        <div class="floor_div"></div>
         <br>
        <h4 class="floor_h4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;C Crete HF</h4>
        
        <p class="floor_p">Heavy duty polyurethane screed <b>C Crete HF</b> </p>
        <p class="floor_p">C Crete HF is a heavy duty polyurethane screed flooring applied in thickness on 6-9 mm. C Crete HF can also be steam cleaned at higher thicknesses, making it ideal for hotel and food industries. </p>
    </div>
</section>
<!-- End Our Services Area -->

<br><br>

<style type="text/css">
  
    .floor_p
    {
         color: #000;
        font-size: 15px;
    }
    .floor_div
    {
        border-bottom: 1px dotted #000;
        padding-top: 15px;
        
    }
    .floor_h2
    {
        background: #F6B60B; 
        padding: 5px;
    }
     .floor_h4
     {
        color: #F6B60B;
        /*border-bottom: 1px dotted #F5F5F5;*/
     }
     .side_button
      {
        position: fixed; 
        z-index: 9; 
        top: 420px; 
        left: -13px;
      }  
      .Enquiry
      {
        background: none; 
        border: none;
        width: 80px;
      }

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
{
  .Enquiry
  {
    width: 50px;
    margin-top: -100px;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
  .Enquiry
  {
    width: 50px;
    margin-top: -100px;
  }
}
</style>